<aside class="aside-app shadow-lg">
    <h3 class="aside-full-width-title mb-4 d-none">
        <img src="./assets/img/Bookmark.svg" width="20" height="20">
        قائمة الاوامر المفضلة</h3>
    <div class="multiple-items-slider mb-3 d-none">
        
        <div class="row">
            <div class="col">
                <div class="items-slider shadow-sm d-flex text-start">
                    <div class="card-holder card-icon-side">
                        <img src="./assets/img/file-pdf-solid.svg" width="15" height="15">
                    </div>
                    الطلبات الذاتية</div>
            </div>
            <div class="col">
                <div class="items-slider shadow-sm d-flex text-start">
                    <div class="card-holder card-icon-side">
                        <img src="./assets/img/file-pdf-solid.svg" width="15" height="15" >
                    </div>
                    الشركات المصنعة</div>
            </div>
            <div class="col">
                <div class="items-slider shadow-sm d-flex text-start">
                    <div class="card-holder card-icon-side">
                        <img src="./assets/img/file-pdf-solid.svg" width="15" height="15" >
                    </div>
                    الشركات المصنعة</div>
            </div>
            <div class="col">
                <div class="items-slider shadow-sm d-flex text-start disabled">
                    <div class="card-holder card-icon-side">
                      
                    </div>
                    اضف امر للمفضلة</div>
            </div>
            <div class="col">
                <div class="items-slider shadow-sm d-flex text-start disabled">
                    <div class="card-holder card-icon-side">
                      
                    </div>
                    اضف امر للمفضلة</div>
            </div>
           
        </div>
        
        
      </div>
      <hr class="d-none d--divider">
      <div class="horizontal-card-fullwidth ">
        <ul class="aside-list-items d--flex p-0">
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/companies.svg" class="img-fluid" width="50" alt="">
                    </figure>
                    الاحصائيات
                    <span class="aside-card d-block">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيزd</span>
                </a>
              
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/catalog.svg" class="img-fluid" width="50" alt="">
                    </figure>
                    الاحصائيات
                    <span class="aside-card d-block">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيزd</span>
                </a>
              
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/body.svg" class="img-fluid" width="50" alt="">
                    </figure>
                    الاحصائيات
                    <span class="aside-card d-block">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيزd</span>
                </a>
              
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/electric.svg" class="img-fluid" width="50" alt="">
                    </figure>
                    الاحصائيات
                    <span class="aside-card d-block">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيزd</span>
                </a>
              
            </li>
            
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/learn.svg" class="img-fluid" width="50" alt="">
                    </figure>
                    الاحصائيات
                    <span class="aside-card d-block">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيزd</span>
                </a>
              
            </li>

           
           
            

            
            
        </ul>
      </div>
    <button type="button" class="btn btn-light btn-side-collapsed">
        <img src="./assets/img/sideicons.svg" class="img-fluid" alt="" />
    </button>
    
    <div class="aside-list">
       
        <ul class="aside-list-items p-0">
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/sideicons/Graph.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    الاحصائيات
                </a>
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/sideicons/Paper.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    المستودعات

                </a>
            </li>

            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/sideicons/icon002.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    الطلبات الذاتية

                </a>
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center">
                    <figure class="side-icon">
                        <img src="./assets/img/sideicons/icon003.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    كتالوج الاصناف
                </a>
            </li>
        </ul>
        <div class="mt-4 mb-4 horizontal-divider"></div>
        <ul class="aside-list-items p-0 pb-3">
            <li class="aside-list-item aside-title">
                <a href="" class="text-center aside-title-disabled">
                    <figure class="side-icon bg-transparent">
                        <img src="./assets/img/sideicons/Bookmark.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    الاوامر المفضلة
                </a>
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center favourite-style text-light">
                    <figure class="side-icon bg-transparent ">
                        <img src="./assets/img/sideicons/Paper-white.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    الطلبات الذاتية
                </a>
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center favourite-style-02 text-light">
                    <figure class="side-icon bg-transparent ">
                        <img src="./assets/img/sideicons/Paper-white.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    كتالوج الاصناف
                </a>
            </li>

            <li class="aside-list-item">
                <a href="" class="text-center favourite-style-03 text-light">
                    <figure class="side-icon bg-transparent ">
                        <img src="./assets/img/sideicons/Paper-white.svg" class="img-fluid" width="20" alt="" />
                    </figure>
                    الشركا المصنعة
                </a>
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center  d-flex align-items-center add-item">
                    <figure class="side-icon bg-transparent ">
                        <img src="./assets/img/sideicons/plus.svg" class="img-fluid" width="20" alt="" />
                    </figure>

                </a>
            </li>
            <li class="aside-list-item">
                <a href="" class="text-center  d-flex align-items-center add-item">
                    <figure class="side-icon bg-transparent ">
                        <img src="./assets/img/sideicons/plus.svg" class="img-fluid" width="20" alt="" />
                    </figure>

                </a>
            </li>
        </ul>
    </div>
</aside>