<header class="header-app">
  <div class="app-top-header"></div>
  <div class="app-header">


      <nav class="navbar navbar-expand-lg navbar-light bg-white border navbar--wes">
          <div class="container-fluid  ps-4 pe-4">
              <a class="navbar-brand d-lg-none  d-sm-block" href="#">
                  <img src="./assets/img/logo.svg" class="img-fluid  d-lg-block" alt="logo" />
              </a>
              <button class="navbar-toggler" type="button" aria-controls="navbarTogglerDemo01">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <a class="navbar-brand" href="#">
                      <img src="./assets/img/logo.svg" class="img-fluid d-none  d-lg-block" alt="logo" />
                  </a>

                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                      <li class="nav-item me-2 ms-2">
                          <div class="input-group input_animated">

                              <input type="text" class="form-control input--field " placeholder="بحث ...">
                              <span class="input-group-text search-icon-input-btn">
                                  <span class="me-1">أبحث</span>
                                  <img src="./assets/img/magnifying-glass-solid.svg" class="img-search" />

                              </span>
                          </div>
                      </li>
                      <li class="nav-item">
                          <div class="nav-link">
                              <div class="row d-flex align-items-center">
                                  <div class="col-4">
                                      <div class="avatar-holder">
                                          <img src="./assets/img/avatar.svg" class="img-fluid" alt="avatar" />
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="btn-group d-block">
                                          <button
                                              class="btn btn-secondary avatar-dropdown btn-sm dropdown-toggle text-truncate"
                                              type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              ياسر امين المهدي
                                          </button>
                                          <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">الأعدادات</a></li>
                                              <li><a class="dropdown-item" href="#">اللغه</a></li>

                                          </ul>
                                      </div>
                                      <span class="badge-primary">ادارة التسليح</span>
                                      <small class="text-muted job-desc">مسئول خزينة</small>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="nav-item">
                          <div class="vertical-divider">

                          </div>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link " aria-current="page" href="#">
                              <img src="./assets/img/Message.svg" class="img-fluid" />
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"> <img src="./assets/img/Setting.svg"
                                  class="img-fluid" /></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><img
                                  src="./assets/img/Logout.svg" class="img-fluid" /></a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>


  </div>
</header>
